.site-header {
	border-top: 5px solid black;
}
.navbar-brand {
	text-transform: uppercase;
}




.site-footer {
	background: #222222;
	color: #fff;
	padding:10px 0;
	.sub-footer {
		padding: 10px 0;
		background: #ccc;
		color: #222222;
	}
}