<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="footer-heading">{{ site.title }}</h2>

          <ul class="contact-list list-unstyled">
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><i class="fa fa-facebook-official"></i>  <a href="https://www.facebook.com/samadhiyogayama?pnref=story">Följ oss gärna på Facebook</a></li>
          </ul>
          <p class="text">{{ site.description }}</p>
        </div>
      </div>
    </div>
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a> | Göteborgsvägen 45, 433 60 Sävedalen
          </div>
        </div>  
      </div>
    </div>
</footer>
